<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>pt-BR</string>
	<key>CFBundleDisplayName</key>
	<string>Galaxy Mirror</string>
	<key>CFBundleExecutable</key>
	<string>GalaxyMirror</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.julianamarques.GalaxyMirror</string>
	<key>CFBundleName</key>
	<string>Galaxy Mirror</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.5</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>GalaxyMirrorReleaseVersion</key>
	<string>0.1.5-beta.1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_adb-tls-pairing._tcp</string>
		<string>_adb-tls-connect._tcp</string>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>O Galaxy Mirror procura seu celular na rede Wi-Fi para conectar e espelhar a tela.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
